@model IEnumerable<Assignment2.Models.qualifyGrid>
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20);
}

@{
    ViewBag.Title = "Staff Qualifications";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>

            <p>
                @grid.GetHtml(rowStyle: "oddrow",  columns: grid.Columns(
                    grid.Column("name", "Crew Name"),
                    grid.Column("aircrafts", "Aircraft Model")
                
                 ))
                
            </p>
        </div>
    </section>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
